@using System.Text.Json;
@{
    User user = new();
    if (TempData["user"] is not null)
    {
        user = JsonSerializer.Deserialize<User>(TempData["user"].ToString());
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvcApp</title>
    <link rel="stylesheet" href="~/css/theme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvcApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body class="body">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5 px-5">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">mvcApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm  ">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (TempData["user"] is not null)
                        {
                            <div class="d-flex">
                                <li class="nav-item">
                                    <a class="nav-link ">@user?.Email</a>
                                </li>
                                <li class="nav-item">
                                    <form asp-controller="Users" asp-action="Logout" method="post">
                                        <input type="submit" class="btn btn-secondary btn-sm" value="Logout">
                                    </form>
                                </li>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex">
                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="Users" asp-action="Login">login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="Users" asp-action="Signup">Signup</a>
                                </li>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - mvcApp
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
